GEMINI_API_KEY=your_gemini_api_key
DATABASE_URL="postgresql://[YOUR_SUPABASE_USER]:[YOUR_SUPABASE_PASSWORD]@[YOUR_SUPABASE_HOST].pooler.supabase.com:[YOUR_SUPABASE_PORT]/postgres"
DATABASE_URL_ASYNC="postgresql+asyncpg://[YOUR_SUPABASE_USER]:[YOUR_SUPABASE_PASSWORD]@[YOUR_SUPABASE_HOST].pooler.supabase.com:[YOUR_SUPABASE_PORT]/postgres"
DATABASE_URL_SYNC="postgresql+psycopg2://[YOUR_SUPABASE_USER]:[YOUR_SUPABASE_PASSWORD]@[YOUR_SUPABASE_HOST].pooler.supabase.com:[YOUR_SUPABASE_PORT]/postgres"